# AoC input files can't be shared (https://old.reddit.com/r/adventofcode/wiki/faqs/copyright/inputs)
input.txt

# Compiled solution files
**/solution

# Haskell github template
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
